### Prompt:
You are an analyst for a fastfood restaurant. The company has tasked you to analyze their past transactions. Each row represents a single transaction/order from one of their ten (10) branches. The order is recorded as a __`string`__ which is formatted as: 

"`[quantity1][item_code1], [quantity2][item_code2], [quantity3][item_code3]`"

However, because of some technical error, the __number of combo meals purchased__ as well as the __total order value__ was lost, so we'll need to restore that.

### You are tasked to come up with the following:
1. Given the order column, count how many of each product was purchased
2. Given each product count, get the number of supposed combo meals purchased. <br><i>(You may update the product count when the combo meals are counted)</i>.
3. Calculate the total order value.
4. Determine which branch made the most revenue, and how much?

### The combo meals are detailed below:
1. Family combo: 4 burgers, 4 fries, 4 drinks
2. Big combo: 1 burgers, 1 fries, 1 drinks
3. Snack combo: 1 fries, 1 drinks

In [5]:
# 1. Given the order column, count how many of each product was purchased

import pandas as pd

df_csv = pd.read_csv('food_transactions.csv')

df_json = pd.read_json('price_list.json')

def amount_burger(x):
    try:
        if "S_Burger" in x:
            return int(x[x.find("S_Burger")-1])
        else:
            return 0

    except:
        return 0

def amount_fries(x):
    try:
        if "S_Fries" in x:
            return int(x[x.find("S_Fries")-1])
        else:
            return 0

    except:
        return 0

def amount_drink(x):
    try:
        if "S_Drink" in x:
            return int(x[x.find("S_Drink")-1])
        else:
            return 0

    except:
        return 0

df_csv['S_Burger'] = df_csv['order'].apply(lambda x: amount_burger(x))

df_csv['S_Fries'] = df_csv['order'].apply(lambda x: amount_fries(x))

df_csv['S_Drink'] = df_csv['order'].apply(lambda x: amount_drink(x))

df_csv

,Unnamed: 0,date,branch,order,S_Burger,S_Fries,S_Drink
0,0,2023-06-26 21:36:39,Branch 3,"1S_Burger, 4S_Fries, 5S_Drink",1,4,5
1,1,2023-12-22 10:57:56,Branch 9,"2S_Burger, 4S_Fries, 3S_Drink",2,4,3
2,2,2023-12-14 14:07:51,Branch 8,"2S_Burger, 4S_Fries, 2S_Drink",2,4,2
3,3,2023-11-01 02:10:22,Branch 4,"6S_Fries, 1S_Drink",0,6,1
4,4,2023-09-30 07:42:12,Branch 3,"5S_Burger, 6S_Drink",5,0,6
...,...,...,...,...,...,...,...
134770,134770,2023-12-11 04:21:04,Branch 8,"3S_Fries, 6S_Drink",0,3,6
134771,134771,2023-08-25 18:43:05,Branch 8,"7S_Burger, 6S_Fries",7,6,0
134772,134772,2023-09-24 14:15:58,Branch 10,"4S_Burger, 6S_Fries",4,6,0
134773,134773,2023-07-08 12:43:10,Branch 4,"7S_Burger, 6S_Fries, 5S_Drink",7,6,5
134774,134774,2023-04-18 18:25:39,Branch 4,"7S_Burger, 5S_Fries, 7S_Drink",7,5,7

In [6]:
# 2. Given each product count, get the number of supposed combo meals purchased.
# (You may update the product count when the combo meals are counted).
# The combo meals are detailed below:
# Family combo: 4 burgers, 4 fries, 4 drinks
# Big combo: 1 burgers, 1 fries, 1 drinks
# Snack combo: 1 fries, 1 drinks


df_csv['Family combo'] = df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//4)


df_csv['S_Burger'] = df_csv['S_Burger']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//4*4)
df_csv['S_Fries'] = df_csv['S_Fries']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//4*4)
df_csv['S_Drink'] = df_csv['S_Drink']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//4*4)

df_csv['Big combo'] = df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//1)

df_csv['S_Burger'] = df_csv['S_Burger']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//1)
df_csv['S_Fries'] = df_csv['S_Fries']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//1)
df_csv['S_Drink'] = df_csv['S_Drink']-df_csv['order'].apply(lambda x: min(amount_burger(x),amount_fries(x),amount_drink(x))//1)

df_csv['Snack combo'] = df_csv['order'].apply(lambda x: min(amount_fries(x),amount_drink(x))//1)

df_csv['S_Fries'] = df_csv['S_Fries']-df_csv['order'].apply(lambda x: min(amount_fries(x),amount_drink(x))//1)
df_csv['S_Drink'] = df_csv['S_Drink']-df_csv['order'].apply(lambda x: min(amount_fries(x),amount_drink(x))//1)

df_csv

,Unnamed: 0,date,branch,order,S_Burger,S_Fries,S_Drink,Family combo,Big combo,Snack combo
0,0,2023-06-26 21:36:39,Branch 3,"1S_Burger, 4S_Fries, 5S_Drink",0,-1,0,0,1,4
1,1,2023-12-22 10:57:56,Branch 9,"2S_Burger, 4S_Fries, 3S_Drink",0,-1,-2,0,2,3
2,2,2023-12-14 14:07:51,Branch 8,"2S_Burger, 4S_Fries, 2S_Drink",0,0,-2,0,2,2
3,3,2023-11-01 02:10:22,Branch 4,"6S_Fries, 1S_Drink",0,5,0,0,0,1
4,4,2023-09-30 07:42:12,Branch 3,"5S_Burger, 6S_Drink",5,0,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...
134770,134770,2023-12-11 04:21:04,Branch 8,"3S_Fries, 6S_Drink",0,0,3,0,0,3
134771,134771,2023-08-25 18:43:05,Branch 8,"7S_Burger, 6S_Fries",7,6,0,0,0,0
134772,134772,2023-09-24 14:15:58,Branch 10,"4S_Burger, 6S_Fries",4,6,0,0,0,0
134773,134773,2023-07-08 12:43:10,Branch 4,"7S_Burger, 6S_Fries, 5S_Drink",-2,-8,-9,1,5,5
134774,134774,2023-04-18 18:25:39,Branch 4,"7S_Burger, 5S_Fries, 7S_Drink",-2,-9,-7,1,5,5

In [ ]:
# 3. Calculate the total order value.

In [ ]:
# 4. Determine which branch made the most revenue, and how much?

# pivot